.idea

.ipynb_checkpoints

# data files
*.csv

# model files
*.sav
*.pth

# plot files
*.png

# allow these files
!codex/generate_documentation/images/*.png
!codex/documentation-to-code/generate-synthetic-data/workspace/data/synthetic_regresssion.csv


