.idea
.DS_Store
.ipynb_checkpoints
.vscode/launch.json

# data files
*.csv

# model files
*.sav
*.pth

# plot files
*.png

# binary files
*.pyc

# virtual environment
myenv/

# allow these files
!codex/generate_documentation/images/*.png
!codex/unit_tests/images/*.png
!codex/documentation-to-code/generate-synthetic-data/workspace/data/synthetic_regresssion.csv


