# openai Python SDK
openai

# token counting
tiktoken

# code-to-documentation generation
# packages for generating LaTeX in Python
latexify-py
sympy

# package for running Python code
pandas
numpy
matplotlib
torch
flask

# support jupyter notebook UI in the container
jupyter
nbconvert
ipywidgets

# testing for documentation-to-code generation
gpt-engineer